html {
    --main-color: #303030;
    --second-color: #ffffff;
    --third-color: #f2c03f;

    --main-background: #ffffff;
}
body {
    display: flex; 
    flex-flow: column nowrap;
}
/* Header and navigation styles */
.header__menu, .menu__toggler {
   margin-left: auto;
}
/* tag styles */
.mtb__tag {
    margin-top: 20px;
    font-size: 17px;
}

/* wrap styles */
.wrap {
    display: grid;
    grid-template-columns: min-content 91%;
    grid-template-rows: 100%;

    width: 100%;
    margin: 0 auto 0 0;

    flex-grow: 1;
}

.buy-tickets-btn__text {
    background-color: var(--second-color);
    color: var(--main-color);
}

/* Media requires */
@media screen and (max-width: 1299px) {
    .menu__toggler-wrap::after, .menu__toggler-wrap::before, .menu__toggler-wrap span {
        background-color: #654EA3;
    }
    body.mobile-lock {
        .menu__toggler-wrap::after, .menu__toggler-wrap::before, .menu__toggler-wrap span, .header__logo {
            background-color: #ffffff;
        }
        .menu__toggler {
            margin-left: 0;
        }
    }
    .header a,  .mobile-lang-switch > * {
        color: var(--second-color);
    }

    .wrap {
        grid-template-rows: min-content 100%;
        grid-template-columns: 100%;
        padding: 0;
        position: relative;
    }

    .main {
        grid-row: 1 / 2;
    }
    .main__title {
        margin-left: 48px;
    }
    .left-side-decor {
        grid-row: 2 / 3;
        align-self: start;
    }
    .left-side-decor__data {
        bottom: -112px;
        padding-bottom: 24px;
    }
    
    .data__hor-line {
        background-color: var(--main-color);
    }
}
@media screen and (max-width: 799px) {
    .left-side-decor__data {
        bottom: -22px;
    }
}
@media screen and (max-width: 599px) {
    .wrap {
        grid-template-rows: min-content;
        padding: 0;
    }
    .main__title {
        margin: 0 0 32px 16px;
        font-size: 32px;
    }
    .mtb__tag {
        display: none;
    }
}
