@import url('../css/general.css');

html {
    --main-color: #303030;
    --second-color: #ffffff;
    --third-color: #f2c03f;

    --main-background: #ffffff;
}
body {
    
}

/* Header and navigation styles */
.header__menu, .menu__toggler {
   margin-left: auto;
}

/* tag styles */
.mtb__tag {
    margin-top: calc(2.2vw - 0.7%);
    font-size: 17px;
}

/* wrap styles */
.wrap {
    display: grid;
    grid-template-columns: min-content 91%;
    grid-template-rows: 100%;

    width: 100%;
    margin: 0 auto 0 0;

    flex-grow: 1;
}