@import url('../css/general.css');

/* Common styles */
html {
    --main-color: #ffffff;
    --second-color: #000000;
    --third-color: #f2c03f;

    --main-background: linear-gradient(152deg, rgba(101, 78, 163, 0.87) 24.86%, rgba(95, 75, 139, 0.87) 100%);
}

/* Wrap styles */
.wrap {
    display: grid;
    grid-template-columns: auto 1fr min-content;
    grid-template-rows: 27px repeat(2, min-content);

    overflow: hidden;
}

/* Header styles */ 
.header {
    justify-content: space-between;
}
.header__logo {
    background-color: var(--main-color);
}

/* BFW styles */
.bfw:not(.mobile-bfw) {
    width: 71.1vw;
    top: 3.227vw;
    left: 0;
}

/* Main block and main-wrap styles */
.main {
}

.main-wrap {
    grid-column: 2 / 3;
    grid-row: 3 / 4;
}
.main-title-block {
    grid-row: 2 / 3;
    grid-column: 2 / 3;
    height: fit-content;
}

/* Title and tag styles */
.mtb__tag {
    font-size: 24px;
    margin: 6.927vw 0 0 0;
}
.mtb__title {
    margin: 16px 0 0 0;

    font-weight: 900;

    line-height: 110.00000000000001%;
    letter-spacing: 0.04em;

}

/* About styles */
.main__about {
    margin-top: 4.444em;
    
    display: flex;
    gap: 2.666em;
}

.about {
}
.about__item {
    display: flex;
    align-items: center;
    gap: 12px;
}
.about__icon {
    /* width: 44px; */
}
.about__text {
    opacity: 0.74;
    font-size: 18px;

    line-height: 100%;
    letter-spacing: 0em;
    font-weight: 400;
}
.new-line-text {
    display: block;
    margin-bottom: 5px;
}
.sup__text {
    
}
.about__line {
    opacity: 0.4;
}

/* Right side decor styles */
.right-side-decor {
    grid-row: 2 / -1;
    grid-column: 3 / -1;

    width: 43.698vw;
    height: 81.574vh;

    align-self: end;
}
.right-side-decor__wrap {
    height: 100%;
    width: 100%;

    position: relative;
}
.right-side-decor__frame {
    border: 10px solid rgba(245, 208, 111, 1);

    width: 76.8772%;
    height: 99.6595%;

    position: absolute;
    z-index: -1;
    right: -28px;
    top: -27px;
}
.right-side-decor__photo, .right-side-decor__photo > img {
   width: 100%;
   height: 100%;
}
.right-side-decor__photo-switch {
    width: 43.469px;

    position: absolute;
    z-index: 2;
    bottom: 5.1%;
    right: 9.3%;
    
}
.photo-switch__item {
    height: 20px;
    width: 10px;
}
.photo-switch__item:first-of-type {
    margin-right: 20px;
}

/* Social links styles */
.footer__social-links {
    width: fit-content;
    margin: 7.188vw 0 2.5vw 0;
}

/* Buy tickets button styles */
.main__buy-tickets-btn {
    margin-top: 6.25vw;
}

@media screen and (max-width: 1900px) {
  .mtb__tag {
    margin-top: 5.833vw;
  }

  .bfw:not(.mobile-bfw) {
    width: 69.6vw;
  }
}
@media screen and (max-width: 1700px) {
    .main__about {
        gap: 2em;
    }

    .bfw:not(.mobile-bfw) {
        /* left: -2.6vw; */
        top: 4.8vw;
    }
}
@media screen and (max-width: 1500px) {
    .bfw:not(.mobile-bfw) {
        /* left: -3.3vw; */
        top: 5.4vw;
    }
    
    .right-side-decor {
        grid-row: 3 / 4;
    }

    .main__about {
        margin-top: 3em;
        flex-flow: column nowrap;
        gap: 40px;
    }
    .about__line {
        display: none;
     }
    .mtb__tag {
        margin-top: 37px;
    }
    .main__about {
        margin-top: 6px;
    }
}
@media screen and (max-width: 1299px) {
    .wrap {
        overflow-x: clip;
    }
    .main-title-block {
        grid-column: 1 / -1;
        width: 88.542vw;
        margin-bottom: 74px;
    }
    .right-side-decor__frame {
        top: -17px;
        right: -22px;
        border-width: 6.61px;
    }
    .right-side-decor__photo-switch {
        bottom: 3.1%;
        right: 21.3%;
    }
    .main-wrap {
        margin-top: 6px;
    }
    .menu__toggler-wrap::after, .menu__toggler-wrap::before, .menu__toggler-wrap span {
        background-color: #ffffff;
    }

    .right-side-decor {
        width: 68.849vw;
        height: 53.418vh;

        margin-top: 23px;
    }

    .bfw:not(.mobile-bfw) {
        left: -2.6vw;
        width: 118.592vw;
        object-fit: cover;
    }
    .main__buy-tickets-btn {
        margin-top: 16.425vw;
    }
}
@media screen and (max-width: 799px) {
    .bfw:not(.mobile-bfw) {
        top: max(3vw, 30px);
    }
}
@media screen and (max-width: 599px) {
    .wrap {
        padding-left: 16px;
        padding-bottom: 64px;
    }
    .main-title-block {
        grid-column: 1 / -1;
    }
    .right-side-decor {
        display: none;
    }
}
@media screen and (max-width: 499px) {
    .main-wrap {
        grid-column: 1 / -1;
    }
    .mtb__title {
        margin-bottom: 40px;
        margin-top: 8px;
    }
    .mtb__tag {
        margin-top: 13px;
    }
    .main__about {
        margin-top: 0px;
    }
}
@media screen and (max-width: 399px) {
    .mtb__tag {
        font-size: 18px;
    }
}