@import url('../css/general.css');
@import url('../css/common-styles-white-pages.css');

.main__title {
    margin-top: 18px;
    margin-bottom: 40px;
}

/* main carousel */
.main__carousel {
    gap: 52px;

    width: 100%;
}

/* Carousel styles */
.carousel {
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
}
.carousel__wrap {
    display: flex;
    flex-flow: row nowrap;

    overflow-y: hidden;
    
    scroll-behavior: smooth;
    -webkit-overflow-scrolling: touch;
}
.big-carousel__wrap {
    overflow-x: auto;
}
.small-carousel__wrap {
    overflow-x: hidden;
}
.carousel__wrap::-webkit-scrollbar {
    display: none;
}
.carousel > button {
    height: 64px;
    width: 32px;
}
.carousel > button > svg {
    opacity: 0.16;
}
.carousel > button > svg:hover {
    opacity: 1;
}
.carousel__pagnitation {
    display: none;
}

/* Participants Styles */
.main__participants {
    width: 89.4%;

    gap: 48px;
}

.participants__item {
    display: grid;
    grid-template-columns: 29px 1fr max-content;
    grid-template-rows: repeat(2, min-content);

    transition: 380ms;
    height: fit-content;
}
.participants__item:nth-child(even) {
    margin-top: 47px;
}

.participant-item__carousel {
    width: 448px;
    height: 580px;

    border: 2px solid rgba(48, 48, 48, 1);
    
    grid-column: 2 / 4;
}
.participant-item__style-wrap {
    position: relative;
    height: 100%;
}
.participant-item__style {
    opacity: 0.32;
    font-size: 14px;
    letter-spacing: 2px;
    text-align: right;
    text-transform: uppercase;
    font-weight: 700;

    white-space: nowrap;

    position: absolute;
    left: 0;
    
    transform-origin: top center;
    transform: translateX(-50%) rotate(-90deg);

    width: max-content;
    height: min-content;

    margin-top: 32px;
}

.participant-carousel__left-key {
    margin-right: 16px;
}
.participant-example__model {
    width: 100%;
    height: 100%;
    
    transition: 380ms;

    flex: 1 0 auto;
}
.participant__info {
    background-color: #f4f4f4;
   
    box-shadow: 0px 4px 24px -8px rgba(0,0,0,0.24);

    -webkit-backdrop-filter: blur(24px);
    backdrop-filter: blur(24px);

    width: 420px;
    height: 120px;

    grid-column: 1 / 3;
    grid-row: 2 / 3;

    position: relative;
    top: -34px;
    left: 3px;
}
.participant-carousel__buttons {
    margin: 16px 2px 0px 14px;
    grid-column: 3 / 4;
}
.participant-carousel__buttons > button {
    height: 20px;
    width: 10px;
}
.participant-carousel__buttons > button > svg {
    opacity: 0.16;
}
.participant-carousel__buttons > button > svg:hover {
    opacity: 1;
}
.info__wrap {
    display: flex;
    align-items: center;
    flex-flow: row nowrap;
    justify-content: space-between;

    padding: 0px 16px 16px 106px;
}
.info__full-name-country {
    padding: 16px 16px 0 24px;

    display: flex;
    flex-flow: row nowrap;
    gap: 16px;
}
.participant__photo {
    width: 64px;
    height: 64px;

    border-radius: 50%;
    overflow: hidden;
}
.participant__photo img {
    -o-object-fit: cover;
       object-fit: cover;

    width: 100%;
    height: 100%;
}
.participant__full-name {
    font-family: var(--second-font-family);
    font-size: 24px;
    
    letter-spacing: .03em;
  
    line-height: 110.00000000000001%;
}
.participant__country {
    font-size: 14px;
    letter-spacing: 2px;
    opacity: 0.32;
    text-transform: uppercase;
}

@media screen and (min-width: 2560px) {
    .main__participants {
        width: 2055px;
    }
}
@media screen and (max-width: 1366px) {
  
  .participants__item:nth-child(even) {
    margin-top: 0px;
  }
  .main__carousel {
    position: relative;
  }
}
@media screen and (max-width: 1299px) {
    .menu__toggler-wrap::after, .menu__toggler-wrap::before, .menu__toggler-wrap span {
        background-color: #654EA3;
    }
    body.mobile-lock {
        .menu__toggler-wrap::after, .menu__toggler-wrap::before, .menu__toggler-wrap span, .header__logo {
            background-color: #ffffff;
        }
        .menu__toggler {
            margin-left: 0;
        }
    }
    .header a,  .mobile-lang-switch > * {
        color: var(--second-color);
    }

    .carousel__right-key, .carousel__left-key {
        svg {
            display: none;
        }
        
        transition: 380ms;
    }
    .hidden-carousel-btn {
        opacity: 0;
        pointer-events: none;
        cursor: none;
    }
    .main__participants {
        width: 100%;
    }
    .main__title {
        margin-left: 48px;
    }
    .participants__item:first-child {
        margin-left: 48px;
    }
    .participants__item:last-child {
        margin-right: 48px;
    }
    button.carousel__right-key, button.carousel__left-key {
        width: 80px;
        
        height: 100%;

        position: absolute;

        background: linear-gradient(270deg, rgba(255, 255, 255, 0.49) 0%, rgba(255, 255, 255, 0) 100%);
    }
    button.carousel__right-key {
        right: 0;
    }
    button.carousel__left-key {
        left: 0;
    }

    .main {
        grid-row: 1 / 2;
    }

    .carousel {
    
    }
    .carousel__wrap {
        scroll-snap-type: x mandatory;
    }
    .carousel-item {
        scroll-snap-align: center;
    }
}
@media screen and (max-width: 799px) {
    .main__title {
        margin-top: 8px;
        margin-bottom: 60px;
    }
    .participant__info {
        left: 5px;
        top: -32px;
    }
}
@media screen and (max-width: 530px) {
    .main__participants {
        width: 100%;
        height: fit-content;
    }
    .participants__item {
        width: 100%;
        height: min-content;

        flex: 1 0 auto;

        grid-template-columns: min-content 1fr max-content;
    }
    .participants__item:nth-child(1) {
        margin-left: 0;
    }
    .participant-item__carousel {
        width: 100%;
        height: 47.059vh;
    }
    .participant__info {
        width: 93.75%;

        grid-row: 3 /4;

        left: 0;
        top: -40px;
    }
    .participant__photo {
        width: 48px;
        height: 48px;
    }
    .participant-item__style-wrap {
        grid-row: 1/2;
        grid-column: 1/2;
        margin-left: 43px;
    }
    .participant-carousel__buttons {
        grid-row: 2/3;
        grid-column: 1/2;

        width: max-content;
        height: fit-content;

        position: relative;
        top: -55px;
    }
    .participant-carousel__buttons {
        margin: 0 12px 0 24px;
    }
    .participant__full-name {
        font-size: 21px;
    }
    .carousel__right-key {
        display: none;
    }
    .wrap {
        padding: 0;
    }
    .main__title {
        margin: 0 0 32px 16px;
        font-size: 32px;
    }
    .carousel__pagnitation {
        display: block;

        font-size: 0px;
        letter-spacing: 0px;
        word-spacing: 0px;
    }
    .carousel-pagnitation__item {
        display: inline-block;

        width: 8px;
        height: 8px;

        background-color: var(--main-color);

        margin-right: 8px;

        border-radius: 50%;

        opacity: 0.32;
    }
    .carousel-pagnitation__item:last-child {
        margin-right: 0;
    }
    .carousel-pagnitation__item.active {
        background: linear-gradient(121.1deg, rgba(101, 78, 163, 0.87) 35.26%, rgba(95, 75, 139, 0.87) 88.11%);
        opacity: 1;
    }
    .participant-item__style {
        white-space: normal;

        top: 0;

        transform: rotate(-90deg) translateX(-100%);
        transform-origin: top left;

        margin-top: 0;
    }
    .info__full-name-country {
        padding: 16px 16px 0 16px;
        gap: 8px;
    }
    .participant__full-name {
        margin-top: 5px;
    }
    .info__wrap {
        padding: 8px 16px 16px 72px;
        gap: 80px;
        justify-content: start;
    }
    .participant__links {
        padding-top: 8px;
    }
    .people-links__wrap {
        gap: 16px;
    }
    div.carousel {
        gap: 23px;
    }
    .main__participants > div {
        height: 62.353vh;
    }
}
@media screen and (max-device-width: 414px) and (max-device-height: 736px)
  and (orientation: portrait)
  and (aspect-ratio: 375/667) {
   .participant-item__carousel {
        height: 50vh;
    }
}