@import url('../css/general.css');

html {
    --main-color: #303030;
    --second-color: #ffffff;
    --third-color: #f2c03f;

    --main-background: #ffffff;
}

/* Header and navigation styles */
.header__menu, .menu__toggler {
   margin-left: auto;
}

/* tag styles */
.mtb__tag {
    margin-top: calc(2.2vw - 0.7%);
    font-size: 17px;
}

/* wrap styles */
.wrap {
    display: grid;
    grid-template-columns: auto 1fr;
    grid-template-rows: repeat(2, -webkit-min-content);
    grid-template-rows: repeat(2, min-content);
}

.main {
}
.main__title {
    margin-bottom: 40px;
}

/* main carousel */
.main__carousel {
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    align-items: center;
    flex-basis: auto;
}
.carousel > button {
    height: 64px;
    width: 32px;
}
.carousel__right-key {
    margin-left: 52px;
}
.carousel__left-key {
    margin-right: 52px;
}

.main__participants {
    display: flex;
    flex-flow: row nowrap;
    width: 1440px;
    overflow: hidden;
   
}
.participants {
    
}

.participants__item {
    margin-right: 48px;
}
.participants__item:nth-child(even) {
    margin-top: 47px;
}
.participants__item:nth-child(3n) {
    margin-right: 0px;
}
.participant-item {
    
}
.participant-item__carousel {
}
.participant-item__style {
    opacity: 0.32;
    font-size: 14px;
    letter-spacing: 2px;
    text-align: right;
    text-transform: uppercase;
    font-weight: 700;
}
.participant-carousel > button {
    height: 20px;
    width: 10px;
}

.participant-carousel__left-key {
    
}
.participant__example {
    
}
.participant-example {
    display: flex;
    flex-flow: row nowrap;
    overflow: hidden;
    width: 448px;
}
.participant-example__model {
    width: 448px;
    height: 580px;
    border: 2px solid rgba(48, 48, 48, 1)
}
.participant-carousel__right-key {
}
.participant__info {
    background-color: #f4f4f4;

   
    box-shadow: 0px 4px 24px -8px rgba(0,0,0,0.24);

    -webkit-backdrop-filter: blur(24px);
    backdrop-filter: blur(24px);
}
.info__wrap {
    display: flex;
    align-items: center;
    flex-flow: row nowrap;
    justify-content: space-between;

    padding: 0px 16px 16px 106px;
}
.info__full-name-country {
    padding: 16px 16px 0 24px;

    display: flex;
    flex-flow: row nowrap;
    gap: 16px;
}
.participant__photo {
    width: 64px;
    height: 64px;

    border-radius: 50%;
    overflow: hidden;
}
.participant__photo img {
    -o-object-fit: cover;
       object-fit: cover;
}
.participant__full-name {
    font-family: var(--second-font-family);
    font-size: 24px;
    
    letter-spacing: .03em;
  
    line-height: 110.00000000000001%;
}
.participant__country {
    font-size: 14px;
    letter-spacing: 2px;
    opacity: 0.32;
    text-transform: uppercase;
}
.participant__links {
    
}

@media screen and (max-width: 1299px) {
    .menu__toggler-wrap::after, .menu__toggler-wrap::before, .menu__toggler-wrap span {
        background-color: #654EA3;
    }
    body.mobile-lock {
        .menu__toggler-wrap::after, .menu__toggler-wrap::before, .menu__toggler-wrap span, .header__logo {
            background-color: #ffffff;
        }
        .menu__toggler {
            margin-left: 0;
        }
    }
    .header a,  .mobile-lang-switch > * {
        color: var(--second-color);
    }
    .mtb__tag {
        margin-top: calc(2.2vw - 1.0%);
    }
}
@media screen and (max-width: 999px) {
    .mtb__tag {
        margin-top: calc(2.2vw - 1.3%);
    }
}
@media screen and (max-width: 799px) {
    .mtb__tag {
        display: none;
    }
}